---
layout: front
title: Home
---

    <!-- Work and Contact -->
    <div class="front-full-width-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 front-full-width-text">
                  <h3>Summary</h3>
                    <ul>
                      <li>Aug. 2023 -- present: Director of Graduate Studies <a href="http://csds.gsu.edu/">Computer Science</a>, <a href="http://www.gsu.edu">Georgia State University</a>.
                      <li>Aug. 2016 -- present: Professor of <a href="http://csds.gsu.edu/">Computer Science</a>, <a href="http://www.gsu.edu">Georgia State University</a>.
					  <li>2007-2016 (Assistant &#x2192; Associate &#x2192; Full) Professor of <a href="http://csds.gsu.edu/">Computer Science</a>, <a href="http://www.gsu.edu">Georgia State University</a>.
                      <li>2013-2017 Director of Graduate Studies <a href="http://csds.gsu.edu/">Computer Science</a>, <a href="http://www.gsu.edu">Georgia State University</a>.
                      <li>2004 July- 2007 Aug. Assistant Professor of <a href="https://www.rit.edu/computing/">College of Computing and Information Sciences</a>.
                      <li> Education:
                      <ul>
                         <li> Ph.D. in <a href="http://www.cse.buffalo.edu">Computer Science </a>, The State University of New York at Buffalo.
                         <li> M.S. in <a href="http://english.cas.cn">Electrical Engineering</a>, Chinese Academy of Sciences.
						 <li> B.S. in  <a href="https://www.tsinghua.edu.cn/en/">Engineering Physics </a>, Tsinghua University.
                      </ul>
                    </ul>
                </div>
                <div class="col-sm-5 front-full-width-text fadeInUp">
                    <h3>Professional Information</h3>
                    <div>
                       <p><i class="fa fa-university"></i> Recent professional services:
                         <ul>
                           <li> IEEE Distinguished Lecturer
						   <li> IEEE ComSoc ONTC Chair (2017-19), vice chair (2015-17), secretary (2013-15)  
                       </ul>
                       <p><i class="fa fa-graduation-cap"></i> <a href="CV/cao.pdf">Curriculum Vitae</a>, <span>(often not up to date)</span></p>						
					   <p><i class="fa fa-envelope"></i> 25 Park Place, Suite 700, Atlanta, GA 30303   </p>
                       <p><i class="fa fa-phone"></i>Phone: (404)413-5700, <i class="fa fa-fax"></i>Fax: (404)413-5717 </p>
						<p><i class="fa fa-envelope"></i> Add <code>@</code> and
                       <code>dot</code> in between:  &nbsp; <code>cao</code>
                       <code>gsu</code>
                       <code>edu</code>
                       </p>                       
                  </div>
                </div>
            </div>
        </div>

      <!-- Selected Talks -->
      <div class="front-full-width-text">
      <div class="container">
        <h3>Biography</h3>
        <p>Dr. Xiaojun (Matt) Cao received his B.S. degree from Tsinghua University and M.S. degree from Chinese Academy of Sciences in 1996 and 1999, respectively. In June 2004, he received his Ph.D. degree in Computer Science and Engineering from the State University of New York at Buffalo. Currently, he is a professor and was serving as the Director of Graduate Studies in the Computer Science Department of Georgia State University.&nbsp; </p>
        <p>&nbsp;Dr. Cao and his group are working on modeling, analysis, and protocols/algorithms design for applications of artificial intelligent, networking and information systems. Important among these are:</p>
        <blockquote>
          <ul>
            <li>Service deployment in AI-Driven Networks&nbsp;</li>
            <li>Software-Defined Networks, Network Function Virtualization, Optical Networking&nbsp;</li>
            <li>Intelligent Sensing and Applications in Secure Cyber-physical and Healthcare Systems, Cybersecurity</li>
          </ul>
        </blockquote>
 		<p>Dr. Cao's research has been sponsored by U.S. National Science Foundation (<a href="http://www.nsf.gov/">NSF</a>), Centers for Disease Control and Prevention (<a href="https://www.cdc.gov/">CDC</a>), <a href="http://www.ibm.com/">IBM</a> and <a href="http://www.cisco.com/">Cisco</a>'s University Research Program. Dr. Cao is a recipient of <a href="http://www.nsf.gov/home/crssprgm/career/start.htm">NSF CAREER Award</a>, 2006-2011.</p>
        <p>&nbsp;</p>
      </div>
      </div>

      <!-- Recent Updates -->
      <div class="front-full-width-text">
      <div class="container">
      <h3>Recent Updates</h3>
      <ul>
        <Li> Grant-Funded Project: “Enterprise AI and Clinical Analytics,” 2025-2030</Li>
        <Li> Grant-Funded Project: “Improvisation Large Al Model,” 2025-2026</Li>
        <li>C. Peng, Y. Zhao, D. Liu, Z. He, Y. Zhou, and X. Cao, “Security-aware Off-site Distributed Pairwise Protection for MoE-based Networks,” IEEE Internet of Things Journal, Dec. 2025, DOI: 10.1109/JIOT.2025.3611979</li>
        <li>D. Zheng, C. Wang, H. Xu, W. Tang, Y. Zhong, and X. Cao, “A Provably Efficient In-Network Computing Services Deployment Approach for Security Burst,” Elsevier Computer Networks, Nov. 2025, DOI: /10.1016/j.comnet.2025.111737</li>
        <li>Y. Li, D. Zheng, H. Fang, H. Xing, X. Chen, and X. Cao, “Towards Prompt Chain Deployment in Zero Trust-enabled Compute First Networks,” IEEE Transactions on Consumer Electronics, Aug. 2025, DOI: 10.1109/TCE.2025.3582399</li>
        <li>C. Wang, D. Zheng, H. Xing, W. Tang, H. Xu, Y. Zhong, and X. Cao, “NFV-based Security Estimation and Classification Approaches for AIGC-enabled Edge Networks,” IEEE Transactions on Network Science and Engineering, Jul. 2025, DOI: 10.1109/TNSE.2025.3593234 </li>
        <li>D. Zheng and X. Cao, “Provably Efficient Service Function Chain Embedding and Protection in Edge Networks,” IEEE/ACM Transactions on Networking, Vol. 33, No. 1, pp.178-193, Feb. 2025, DOI: 10.1109/TNET.2024.3475248</li>
        <li>C. Wang, D. Zheng, X. Liu, W. Tang, H. Xu, and X. Cao, “Towards Cost Optimization in Security-Aware Service Function Chaining and Embedding over Multi-Vendor Edge Networks,” Elsevier Computer Networks, Feb. 2025, DOI:10.1016/j.comnet.2024.111002</li>
        <li>J. Yu, H. Yao, K. Ouyang, X. Cao, and L. Zhang, “BPS-FL: Blockchain-based Privacy-preserving and Secure Federated Learning,” Big Data Mining and Analytics, Vol. 8, No.1, pp. 189-213, Feb. 2025, DOI: 10.26599/BDMA.2024.9020053</li>
        <li>X. Liu, D. Zheng, H. Xing, L. Feng, C. Peng and X. Cao, “A cost-provable solution for reliable in-network computing-enabled services deployment,” Elsevier Computer Networks, Feb. 2025, DOI: 10.1016/j.comnet.2024.110997</li>
        <li>D. Zheng, H. Xiang, L. Feng and X. Cao, “Provably efficient security-aware service function tree composing and embedding in multi-vendor networks,” Elsevier Computer Networks, Vol. 254, Dec. 2024, DOI: 10.1016/j.comnet.2024.110843</li>
        <li>D. Zheng, H. Gu, W. Wei, C. Peng and X. Cao, "Network Service Chaining and Embedding with Provable Boundaries," IEEE Internet of Things Journal, 2021</li>
        <li>“Service Function Chaining and Embedding”, Asia Communications and Photonics Conference (ACP 2020), Oct. 24-27, 2020, Beijing, China (<span class="label label-info">Invited Talk)</li>
        <li>“Applications and Challenges in Network Virtualization”, IEEE Distinguished Lecture, IEEE ComSoc Baltimore Chapter, Nov. 2020 (Invited Talk)</li>
        <li>&nbsp;D. Zheng, C. Peng, X. Liao and X. Cao, "Toward Optimal Hybrid Service Function Chain Embedding in Multiaccess Edge Computing," in IEEE Internet of Things Journal, vol. 7, no. 7, pp. 6035-6045, July 2020, doi: 10.1109/JIOT.2019.2957961&nbsp;</li>
        <li>Kong, G. Luo, L. Tian, and X. Cao, “Disseminating authorized content via data analysis in opportunistic social networks,” Big Data Mining and Analytics, Vol.2, No.1, pp. 12-24, Mar. 2019 (<span class="label label-info">Yearly Excellent Paper Award</span>, 2020 )&nbsp;</li>
        <li>D. Zheng, C. Peng, X. Liao, L. Tian, G. Luo and X. Cao, “Towards Latency Optimization in Hybrid Service Function Chain Composition and Embedding,” in IEEE International Conference on Computer Communications (INFOCOM), 2020&nbsp;</li>
		    <li>&nbsp;B. Camp, J. Mandivarapu, J. Mehta, N. Ramamurthy, J. Wingo, A. G. Bourgeois, X. Cao and R. Sunderraman, “A New Cross-Platform Architecture for Epi-Info Software Suite,” BMC Bioinformatics, pp. 359:1-8, 2018&nbsp;</li>
 
      </ul>
	   <ul>
                <li><a href="https://www.sans.org/cyber-fast-track/nationally-ranked">Georgia  State University Named Cyber FastTrack National &quot;Top Tier College,&quot;  Leads Georgia in Cybersecurity Talent Discover</a>y </li>
                <li><a href="https://news.gsu.edu/2018/09/09/georgia-state-rises-to-no-2-in-nation-in-u-s-news-innovation-commitment-to-teaching-rankings/">Georgia State Rises to No. 2 in Nation in U.S. News Innovation, Commitment to Teaching Rankings</a>, 2019 Best Colleges edition of U.S. News &amp; World Report magazine</li>
                <li><a href="https://www.bizjournals.com/atlanta/news/2018/01/04/georgia-state-among-top-100-best-college-values.html">Georgia State Among Top 100 Best College Values</a>, ATLANTA BUSINESS CHRONICLE, Jan. 2018</li>
                <li><a href="https://www.timeshighereducation.com/student/best-universities/best-universities-united-states">GSU is ranked top 99 in USA by the Times Higher Education World University Ranking 2018</a> </li>
                <li> <a href="http://colleges.usnews.rankingsandreviews.com/best-colleges/rankings/business-management-information-systems"> GSU's CIS Undergraduate Program Ranks #10 in the Nation by U.S. News, 2018</a></li>
                <li> <a href="http://news.gsu.edu/2017/09/12/georgia-state-fourth-innovative-university-u-s-news-world-report/">Georgia State 4th Most Innovative University In U.S. News &amp; World Report Best Colleges Edition, 2017</a></li>
                <li><a href="http://grid.cs.gsu.edu/%7Ebdcloud/">IEEE International         Conference on Big Data and Cloud Computing (BDCloud 2016),</a> Atlanta, USA</li>
                <li><a href="http://news.gsu.edu/2015/09/09/u-s-news-ranks-georgia-state-among-nations-leading-teaching-innovative-colleges-and-universities/">U.S. News Ranks GSU 5th in the country among the top "most innovative" universities, 2015</a></li>
                <li><a href="iwon/">International Workshop on Optical Networking (iWON 2013)</a>, GSU campus, Atlanta, USA</li>
                <li><a href="http://www.the-scientist.com/wordpress/wp-content/uploads/2011/07/Best-Places-To-Work-Academia2011.pdf"> GSU ranks #12 in Best Places to Work in Academia in the nation by "The Scientist", 2011</a> </li>
                <li><a href="http://www.cs.gsu.edu/?q=node/388">GSU's CS Ph.D. Program Ranks among the Best in the Southeast by NRC</a></li>
                <li> <a href="http://www.cs.gsu.edu/?q=node/412"> GSU's CS Ph.D. Program Ranks High at PhDs.org </a></li>
              </ul>
      </div>
      </div>

<!-- Recent Activites -->
      <div class="front-full-width-text">
      <div class="container">
      <h3>Professional Activities</h3>
      <ul>
                <li>Served on NSF, DoE, and NSF GENI proposal review panels </li>
                <li>Chair, <a href="http://ontc.committees.comsoc.org/"> IEEE ComSoc Optical Networking Technical Committee (ONTC), 2018-2020</a></li>
                <li>Associate Technical Editor, <a href="http://www.comsoc.org/commag">IEEE Communications Magazine</a></li>
                <li>Associate Editor, <a href="http://link.springer.com/journal/11107">Photonic         Network Communications</a></li>
                <li>Associate Editor, IEEE Communications Letters (2009-2013) </li>
                <li><a href="http://committees.comsoc.org/ontc/index.php"></a> TPC, <a href="http://www.ieee-infocom.org/">IEEE INFOCOM 2021, 2020, 2018, 2017</a></li>
                <li>ONS Symposium Co-Chair,<a href="http://www.ieee.org/conferences_events/conferences/conferencedetails/index.html?Conf_ID=39210"> IEEE ICC 2019</a></li>
                <li>Program Co-Chair, <a href="http://grid.cs.gsu.edu/%7Ebdcloud/">IEEE International         Conference on Big Data and Cloud Computing</a> (BDCloud 2016) </li>
                <li>NGN Symposium Co-Chair,<a href="http://globecom2016.ieee-globecom.org/content/technical-program-committee"> IEEE GLOBECOM 2016</a></li>
                <li>Local Chair, <a href="http://www.ibm.com/solutions/education/cloudacademy/us/en/cloud_academy_conference_2014.html">2nd         International IBM Cloud Academy Conference</a> (ICA CON 2014) </li>
                <li>TPC, <a href="http://www.ieee-infocom.org/">IEEE INFOCOM 2016, 2015, 2014</a></li>
                <li>Invited Talk, <a href="http://www.conf-icnc.org/2014/">Optical and Grid         Computing Symposium, ICNC</a> 2014 </li>
                <li>Program Co-Chair, <a href="http://www.ftrai.org/futuretech2014/">The 9th         FTRA International Conference on Future Information Technology</a> (FutureTech         2014) </li>
                <li>Workshop Chair, <a href="http://cs.gsu.edu/cao/iwon/">International Workshop         on Optical Networking</a> (iWON 2013) </li>
                <li>Publicity Co-Chair, <a href="http://cse.stfx.ca/%7Eica3pp2013/index.php">The         13th International Conference on Algorithms and Architectures for Parallel         Processing</a> (ICA3PP-2013) </li>
                <li>Workshop Co-Chair, <a href="http://www.ftrai.org/csa2013/index.html">The         5th FTRA International Conference on Computer Science and its Applications </a>(CSA-13) </li>
		  
		</ul>
	  </div>
      </div>
     
        <!-- Testimonials -->
        <div class="testimonials-container">
	        <div class="container">
	        	<div class="row">
		            <div class="col-sm-12 testimonials-title wow fadeIn">
		                <h2>Some Quotes</h2>
		            </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-10 col-sm-offset-1 testimonial-list">
	                	<div role="tabpanel">
	                		<!-- Tab panes -->
	                		<div class="tab-content">
                           {% for quote in site.data.quotes %}
                           {% if forloop.index == 1 %}
	                			<div role="tabpanel" class="tab-pane fade in active" id="tab{{ forloop.index }}">
                           {% else %}
	                			<div role="tabpanel" class="tab-pane fade" id="tab{{ forloop.index }}">
                           {% endif %}
	                				<div class="testimonial-image">
	                					<img src="{{ quote.image }}" alt="" data-at2x="{{ quote.image }}">
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"{{ quote.quote }}"<br>
		                                	{% if quote.source %}
                                           {{ quote.source }}<br>
                                       {% endif %}
		                                	<a href="{{ quote.url }}">{{ quote.author }}</a>
		                                </p>
	                                </div>
	                			</div>
                           {% endfor %}

	                		</div>
	                		<!-- Nav tabs -->
	                		<ul class="nav nav-tabs" role="tablist">
                           {% for quote in site.data.quotes %}
                           {% if forloop.index == 1 %}
	                			<li role="presentation" class="active">
                           {% else %}
	                			<li role="presentation">
                           {% endif %}
	                				<a href="#tab{{ forloop.index }}"
                              aria-controls="tab{{ forloop.index }}" role="tab" data-toggle="tab"></a>
	                			</li>
                           {% endfor %}
	                		</ul>
	                	</div>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
